{
    "width": 6,
    "height": 7,
    "icon_size": 128,
    "applications": {
        "a": {
            "name": "librewolf 2",
            "command": "librewolf",
            "icon": "librewolf"
        },

        "b": {
            "name": "kitty",
            "command": "kitty",
            "icon": "kitty"
        },

        "c": {
            "name": "folder",
            "applications": {
                "b": {
                    "name": "librewolf 2",
                    "command": "librewolf",
                    "icon": "librewolf"
                },

                "a": {
                    "name": "kitty",
                    "command": "kitty",
                    "icon": "kitty"
                }
            }
        }
    }
}
