{
    "width": 6,
    "height": 7,
    "applications": {
        "a": {
            "Application": {
                "name": "librewolf 2",
                "command": "librewolf",
                "icon": "librewolf"
            }
        },

        "b": {
            "Application": {
                "name": "kitty",
                "command": "kitty",
                "icon": "kitty"
            }
        },

        "c": {
            "Folder": {
                "name": "folder",
                "applications": {
                    "b": {
                        "Application": {
                            "name": "librewolf 2",
                            "command": "librewolf",
                            "icon": "librewolf"
                        }
                    },

                    "a": {
                        "Application": {
                            "name": "kitty",
                            "command": "kitty",
                            "icon": "kitty"
                        }
                    }
                }
            }
        }
    }
}
